body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e5e5e5;
}

.avatar {
    width: 150px;
    border-radius: 8px;
    border: 1px solid #bbad2c;
}

.card {
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    color: #d4c42e;
    background-color: #4e4e47;
    border-bottom: 6px solid #b3cc29;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: all 0.5s ease-in-out;
}

.card:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}

.dotted-blue {
    border: 1px dotted blue;
}

.text-center {
    text-align: center;
}